/* =========================
   Cruzando Meridianos
   Sistema global de estilos
========================= */

:root {
    --color-bosque: #1C3026;
    --color-arena: #F4F1EA;
    --color-papel: #FBF9F5;
    --color-grafito: #1A1A1A;
    --color-cobre: #C27D38;
  
    --font-serif: "Newsreader", serif;
    --font-sans: "Inter", sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: var(--color-papel);
    color: var(--color-grafito);
    font-family: var(--font-sans);
  }
  
  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-serif);
  }